<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Welcome {{user.fName}}</h1>
    </div>
    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                <p>
                    <strong>id</strong>: {{user.id}}
                    <br>
                    <strong>username</strong>: {{user.username }}
                    <br>
                    <strong>Name</strong>: {{user.fName }} {{user.lName}}
                    <br>
                    <strong>Email</strong>: {{user.email}}
                    <br>
                </p>
            </div>
        </div>
    </div>
    <!-- blogs dump here -->
    <div class="col-6 text-center">
    </div>
    {{#each post}}
    <div class="pages">
        <div class="blog">
            <div class="blog-post" id="{{this.postID}}">
                <h2 class="blog-post-title">{{this.title}}</h2>
                <h4 class="blog-post-meta">Written by: {{this.username}} Date Published: {{formatDt this.createTime}}</a></h4> {{this.content}}
                <p><a href="/api/post/delete/{{this.postID}}">Delete This Post</a></p>
            </div>
        </div>
    </div>
    {{/each}}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content  login log">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Write A New Blog</h5>
                    <button type="button" class="close login log" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="create-form" id="myForm">
                        <div class="form-group">
                            <input type="text" class="form-control" required="true" id="blog-title" placeholder="Title of your blog">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="blog-content" name="blog-content" rows="6" placeholder="Blog Post goes here" required="true" autofocus></textarea>
                            <button class="btn btn-outline-dark" type="submit">Add Post
                                <i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </form>
                    <form id="frmUploader" enctype="multipart/form-data" action="api/Upload/" method="post">
                        <input type="file" name="imgUploader" multiple />
                        <input type="submit" name="submit" id="btnSubmit" value="Upload" />
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- edit modal -->
</div>